### Strings

In [22]:
name = "kaushal"
print(type(name))

<class 'str'>

In [23]:
print(name[4])
print(name[-4])

h
s

### String operations

In [24]:
print(name[0:6])
print(name[0:6:2])

kausha
kuh

In [25]:
print(name[-5:-1])        # Correct
print(name[-1:-5])        # Wrong

usha

In [ ]:
print(name[-4:])
print(name[:-4])

shal
kau

In [ ]:
print(name[::-1])             # resersing string
print(name[::-2])

lahsuak
lhuk

In [ ]:
## String is immutable
print(name[0])
name[0] = "p"       # This will raise an error because string is immuatable

k

TypeError: 'str' object does not support item assignment

### Inbuilt Function

In [ ]:
print(name.upper())
print(name.lower())
print(name.capitalize())     # capitalize first char of sentence and removes unwanted capitalize chars in sentence
print(name.title())        #each word capitalized

KAUSHAL
kaushal
Kaushal
Kaushal

In [ ]:
s1 = "kaus"
s2 = "hal"
print(s1+s2)
print(s1*3)

kaushal
kauskauskaus

In [ ]:
a = "abc"
b = "ABC"
print(a.upper())
print(a.upper() == b)

ABC
True

### Advance Strings

string comparision

In [ ]:
s1 = "kaushal"
s2 = "naik"
print(s1 == s2)

False

In [ ]:
print(ord("B"))       ## ASCII CODING

66

Replace

In [ ]:
name = "kaushal"
name = name.replace("u","0")

In [ ]:
print(name)

ka0shal

split

In [57]:
sent= "kaushal appa naik appa kaushal"
sent.split()   # default split by space
sent.split("a")    #split by a
sent.split("k")

['', 'aushal appa nai', ' appa ', 'aushal']

In [ ]:
new_name = "this is the great.persona ever .no one can beat. its always great."
new_name.split(".")

['this is the great',
 'persona ever ',
 'no one can beat',
 ' its always great',
 '']

In [ ]:
### WE cant conacte the string and int 
age= 10
print("my age is "+ age)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# we use formating
age = 10
print(f" Hello, i am {age} years old")

 Hello, i am 10 years old

Strip

In [ ]:
name = "    kaushal  naik  kaushk  aksy tgdi8    fdfdhfjk0   "
strioptext = name.strip()
print(strioptext)  ## Removes whitespace from beginng and end
print(name)  ## original string

kaushal  naik  kaushk  aksy tgdi8    fdfdhfjk0
    kaushal  naik  kaushk  aksy tgdi8    fdfdhfjk0

In [ ]:
st1 = name.lstrip()     #removes white spaces from left
st2 = name.rstrip()      #removes white spaces from right
print(st)

kaushal  naik  kaushk  aksy tgdi8    fdfdhfjk0

Index

In [ ]:
sname = "Kaushal Appa Naik"
sname.index("hal")

4

Find

In [ ]:
sname = "Kaushal Appa Naik"
sname.find("hal")

4

In [ ]:
sname.find("na")

-1

#### Functions

In [37]:
name = "Kaushal Appa NAik is na very intelligent person 123"

In [38]:
name.count("is")

1

In [ ]:
name.isalnum()       # false becaus of spaces

False

In [ ]:
name.isalpha()       # False because of Spaces

False

In [42]:
name.isupper()

False

In [43]:
name.islower()

False

In [49]:
dig = "24"
dig.isdigit()

True

In [50]:
name.swapcase()

'kAUSHAL aPPA naIK IS NA VERY INTELLIGENT PERSON 123'

#### As string is Immutable so we need to create the new string

In [54]:
n= "kaushal"
m = "K"+ n[1:7]
print(m)

Kaushal